<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="대한민국어드바이저"/>
    <meta property="og:description" content="보고 있는 페이지의 내용 요약"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.png') }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>대한민국 어드바이저</title>
    <style>
        body {
            margin: 20px;
            padding: 30px;
        }

        .css-margin {
            margin: 50px auto;
        }

        a {
            color: black;
            font-size: 20px;
        }

        .wrap {
            margin: auto;
            width: 1200px;
        }

        .button-group {
            margin: 50px auto;
            width: 1100px;
            padding: 20px 20px;
        }

        .button-title {
            width: 220px;
            height: 80px;
            padding: 20px;
            margin-left: 20px;
            border-radius: 5px;
            border: black;
            font-size: 25px;
        }

        input {
            width: 600px;
            height: 50px;
        }

        .selected {
            background-color: palegreen;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        function search() {
            let destination_save = $('#destination').val()
            return destination_save
            // input data 보관
        }

        $(document).ready(function () {
            attraction_view();
        });

        function hotel_button() {
            let search_point = search();
            if (!search_point) {
                alert('목적지를 입력하세요');
                $("#destination").focus();
                return;
            }

        }

        function attraction_button() {
            let search_point = search();
            if (!search_point) {
                alert('목적지를 입력하세요');
                $("#destination").focus();
                return;
            }
        }

        function attraction_view() {
            // $('#contents').empty();
            $.ajax({
                type: "GET",
                url: "http://api.visitkorea.or.kr/openapi/service/rest/KorService/searchStay?ServiceKey=UnDRW2qZhUsa9c42J%2F2hZNGAMwsVuXffmWIuuWCdR9Xp2qkOv%2FB888mhcz8EFJJRXHzxrEnsP%2FT6bv54wKkBiQ%3D%3D&arrange=A&listYN=Y&pageNo=1&numOfRows=5000&MobileOS=ETC&MobileApp=AppTesting",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let attr = response['attraction'];
                        for (let i = 0; i < attr.length; i++) {
                            let attrs = attr[i]
                            let title = attrs['title']
                            let link = attrs['link']
                            let temp = `<div><a href="${link}">${title}</a></div>`
                            $('#contents').append(temp)
                        }
                    } else {
                        alert("error")
                    }
                }
            })
        }

        function restaurant_button() {

        }

        function etc_button() {

        }
    </script>
</head>
<body>
<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">국내여행어드바이저</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/hotel" onclick="hotel_button()">호텔</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/attraction" onclick="attraction_button()">즐길거리<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurant" onclick="restaurant_button()">음식점</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="destination" class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
            </form>
        </div>
    </nav>
    <div id="contents" class="contents-list">
<center>
    <img src="https://lh3.googleusercontent.com/proxy/kmByLkyGBCBfJ8wBJVxO-wm7rfrqKh4EKOqpQ3kGpCx_GHEDUuP_tq1jmNX1jYQLksGoZGxE9LFmyOGjWEhZ7ktB2q5V6XsOhYGHSlkDD--DiOO46W9yK5uPP4cN7ZXk" alt="attraction">
</center>
    </div>
</div>

</body>
</html>